#calendar-container {
    max-width: 700px;
    text-align: center;
    background-color: #fff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    position: relative;
}

#calendar {
    width: 100%;
    margin: auto;
    background-color: #fff;
    margin-bottom: 40px;
}

/* ボタンのスタイル */
.grey-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-right: 20px;
}

.grey-button:hover {
    background-color: #999;
}

.event-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.event-time {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
}
